@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-slate-800 font-sans antialiased;
  }
}

/* Efectos suaves de transición global */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Sombras y efectos de texto para títulos en el Hero */
.text-shadow-strong {
  text-shadow: 
    1px 1px 0px #000000,
    2px 2px 0px rgba(0, 0, 0, 0.7),
    4px 4px 0px rgba(0, 0, 0, 0.4),
    0px 6px 12px rgba(0, 0, 0, 0.5);
}

.text-shadow-subtle {
  text-shadow: 1.5px 2px 0px rgba(0, 0, 0, 0.4);
}